ACCESS_TOKEN_EXPIRY=1h
ACCESS_TOKEN_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_FOLDER_NAME=
CLOUDINARY_SUBFOLDER_NAME=
CORS_ORIGIN=*
EMAIL_FROM=
EMAIL_PASSWORD=
FRONTEND_URL= http://localhost:5173
MONGODB_URI=mongodb://localhost:27017
REGISTRATION_TOKEN_SECRET=
RESET_PASSWORD_SECRET=
PORT=8200